<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>Compass</key>
		<string>The compass needs Precise Location to point at the moon. We never see your location, and it's never shown on screen.</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>YoungSerif-Regular.ttf</string>
		<string>NunitoSans-Regular.ttf</string>
		<string>NunitoSans-SemiBold.ttf</string>
		<string>NunitoSans-Bold.ttf</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
